@keyframes cursor {
    5% {
      text-shadow:
      0 0 0px rgba(255,255,255,0.4),
      0 0 1px rgba(0,255,0,1),
      0 0 2px rgba(0,255,0,0.5),
      3px 0 6px rgba(0,255,0,0.3),
      -3px 0 6px rgba(0,255,0,0.3),
      5px 0 8px rgba(0,255,0,0.1),
      -5px 0 8px rgba(0,255,0,0.1);
    }
    45% {
      text-shadow:
      0 0 0px rgba(255,255,255,0.4),
      0 0 1px rgba(0,255,0,1),
      0 0 2px rgba(0,255,0,0.5),
      3px 0 6px rgba(0,255,0,0.3),
      -3px 0 6px rgba(0,255,0,0.3),
      5px 0 8px rgba(0,255,0,0.1),
      -5px 0 8px rgba(0,255,0,0.1);
    }
    55% {
      text-shadow:
        0 0 0px rgba(128,255,0,0),
        0 0 1px rgba(0,255,0,0),
        0 0 2px rgba(0,255,0,0);
    }
    95% {
      text-shadow:
        0 0 0px rgba(128,255,0,0),
        0 0 1px rgba(0,255,0,0),
        0 0 2px rgba(0,255,0,0);
    }
  }

.cursor {
    display: inline-block;
    position: relative;
    top: 0.05em;
    left: -0.05em;
    transform : scale(0.7,0.8);
    -webkit-animation-name: cursor;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-name: cursor;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }

#ascii {
    font-family: monospace;
    white-space: pre;
    font-size: 9px;
}

.header{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Question{
  opacity: 0;
  -webkit-animation: type2 5s steps(40, end);
  animation: type2 4s steps(40, end);
  -webkit-animation-delay: 5s;
  animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.Answer{
    opacity: 0;
    -webkit-animation: type2 5s steps(40, end);
    animation: type2 4s steps(40, end);
    -webkit-animation-delay: 5s;
    animation-delay: 4s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.header p{
  white-space: nowrap;
  overflow: hidden;
  border-right: .15em solid rgb(103,252,103);
}

.header p:nth-child(1) {
  width: 9em;
  -webkit-animation: type 2s steps(40, end);
  animation: type 2s steps(40, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.header p:nth-child(2) {
  width: 11.5em;
  opacity: 0;
  -webkit-animation: type2 2s steps(40, end);
  animation: type2 2s steps(40, end);
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}


@keyframes glitch1 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 0.75;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.75;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(-1deg, 0.2deg);
    opacity: 0.75;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(0.4deg, 1deg);
    opacity: 0.75;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}



input{
    width:800px;
    font-family: 'VT323', monospace;
    border: 0px;
    outline: none;
    font-size: 90%;
    color: rgb(103,252,103);
      font-weight: normal;
      line-height: 1.3;
      text-shadow:
          0 0 0px rgba(255,255,255,0.4),
          0 0 1px rgba(0,255,0,1),
          0 0 2px rgba(0,255,0,0.5),
          3px 0 6px rgba(0,255,0,0.3),
          -3px 0 6px rgba(0,255,0,0.3),
          5px 0 8px rgba(0,255,0,0.1),
          -5px 0 8px rgba(0,255,0,0.1);
      background-color: #222;
  }

  @keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em solid rgb(103,252,103);
    }
    100% {
      border: none;
    }
  }
  
  @-webkit-keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em solid rgb(103,252,103);
    }
    100% {
      border: none;
    }
  }
  
  @keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em solid rgb(103,252,103);
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  
  hr.dashed {
    border-top: 3px dashed rgb(103,252,103);
    border-bottom: none;
  }


  @-webkit-keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em solid rgb(103,252,103);
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  @-webkit-keyframes blink {
    50% {
      border-color: tranparent;
    }
  }